@use "../style/animations";

.connection-status {
    @media only screen and (max-width: 500px){
        .small{
            display: none
        }
    }
        .small {
		font-size: 12px;
	}
	.broadcast-icon {
		width: 20px;
		height: 20px;
		color: white;
		animation: pulseOpacity 1s infinite ease-in-out;
	}
}
